html {
    font-size: 100%;
    font-family: verdana;
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
  }

/* nav */

.nav {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3.75rem;
    z-index: 1;
}

.nav__company-name-container {
    text-decoration: none;
}

.nav__company-name {
    color: #335576;
    padding: 0 0 0 6rem;
    font-size: 1.05rem;
}
.nav__pages-list {
    width: 18rem;
    display: flex;
    justify-content: space-evenly;
    padding: 0 5rem 0 0;
}

.nav__pages-link {
    text-decoration: none;
    color: black;
    font-size: .825rem;
    font-weight: 300;
}

.nav__pages-list-item {
    list-style-type: none;
}

.nav__pages-list-item--underline {
    box-sizing: border-box;
    border-bottom: 3px solid #DB7A4E;
    list-style-type: none;
    height: 1.9rem;
}

/* footer */

.footer {
    background-color: #fefaf5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  
.footer__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0 20px 0;
    padding: 20px;
  }
  
.footer__section-title-container {
    display: flex;
}

.footer__description-container {
    display: flex;

}

.footer__day-time-container {
    display: flex;
    flex-direction: column;

}

.footer__section-icon-container {
    display: flex;
    

}
.footer__icon {
    width: 50px;
    height: 50px;
}

.footer__icon--height {
    width: 25px;
    height: 50px;
}

  